@{
    PageData["title"] = "This is About Page";
}
<h2>About Us</h2>
<p>Demo page.</p>

<div>
    <p> Changed the About Pages title from "AngularJS SPA | Sign In" to "This is About Page", but is not changed. Title is coming from the controller.js file</p>
</div>